# This is a sample environment file for the API application.
PORT=3001
OPENAI_API_KEY=
DATABASE_URL=

JWT_ACCESS_SECRET=access_secret_xxxx
JWT_REFRESH_SECRET=refresh_secret_xxxx
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d