# This is a sample environment file for the API application.
# 基础配置项
PORT=3001
OPENAI_API_KEY=

#数据库配置
DATABASE_URL=

#jwt身份校验
JWT_ACCESS_SECRET=access_secret_xxxx
JWT_REFRESH_SECRET=refresh_secret_xxxx
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d